--- block/Kconfig.iosched
+++ block/Kconfig.iosched
@@ -176,7 +209,10 @@
 	default "cfq" if DEFAULT_CFQ
 	default "fiops" if DEFAULT_FIOPS
 	default "bfq" if DEFAULT_BFQ
+	default "sio" if DEFAULT_SIO
 	default "noop" if DEFAULT_NOOP
+	default "zen" if DEFAULT_ZEN
+	default "vr" if DEFAULT_VR
 
 endmenu
 
